<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operatii</title>
</head>

<body>
    <h1>Operatii</h1>
    <ul>
        {% for item in data.lista %}
            {% if item.operatie == "suma" %}
                <li>{{ item.a }} + {{ item.b }} = {{ item.rezultat }}</li>
            {% elif item.operatie == "diferenta" %}
                <li>{{ item.a }} - {{ item.b }} = {{ item.rezultat }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
